<!doctype html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<script src="js/jquery.min.js"></script>
  <script src="js/jquery.numeric.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/backbone/lib/underscore.js"></script>
    <script src="js/backbone/lib/backbone-min.js"></script>
    <script src="js/backbone/lib/backbone.iosync.js"></script>
  <script src="js/backbone/lib/backbone.iobind.js"></script>

	<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 10px;
      }
      .clickable {
      	cursor: pointer;
      }
      .faak-item {
      	border-bottom: 1px solid rgb(214, 214, 214);
      }
      .form-horizontal .control-label-align-left {
        float: left;
        width: 80px;
        padding-top: 5px;
        text-align: left;
      }
      .form-horizontal .controls-custom {
        *display: inline-block;
        *padding-left: 20px;
        //margin-left: 180px;
        *margin-left: 0;
      }
      .form-horizontal .controls-custom:first-child {
        *padding-left: 180px;
      }
      .form-horizontal .controls-custom span{
        padding-top: 10px;
      }
      .form-horizontal .control-group {
        margin-bottom: 1px;
      }
      .input-smallest { 
        width: 25px;
        text-align: right;
      }

    </style>
</head>
<body>
	<div id="app-container" class="container">
    <div class="row">
      <div class="span6 offset3">
        <div id="header-menu" class="masthead">
      
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span6 offset3">
        <div class="marketing">
            <div id="faaks-detail">


                <div id="faak-head-view" class="well">
                </div>
                <div id="thing-add-view" class="well">
                </div>
                <div id="thing-group-list-view" class="well">
                  
                </div>
            </div>

        </div> 
      </div>

      <div class="span3">
        <div class="well marketing">
          <p class="lead">Summary</p>
          <ul id="thing-summary-view">

          </ul>

        </div>
      </div>
    </div>

    </div> <!-- /container -->
     
    <!-- // <script src="js/backbone/lib/backbone-nested.min.js"></script> -->
 
  
  <script src="js/backbone/models/Thing.js"></script>
  <script src="js/backbone/collections/Things.js"></script>
  <script src="js/backbone/models/Faak.js"></script>
  <script src="js/backbone/views/detailpage/ThingItemView.js"></script>
  <script src="js/backbone/views/detailpage/ThingListView.js"></script>
  <script src="js/backbone/views/detailpage/ThingGroupListView.js"></script>
  <script src="js/backbone/views/detailpage/FaakHeadView.js"></script>
  <script src="js/backbone/views/detailpage/ThingAddView.js"></script>
  <script src="js/backbone/views/detailpage/ThingSummaryView.js"></script>
  <script src="js/backbone/views/detailpage/AppDetailView.js"></script>
	<script src="js/backbone/views/header-menu.js"></script>
  <script src="js/backbone/AppDetail.js"></script>
<script type="text/template" id="header-template">
      <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <h3 class="muted">Faak</h3>
    </script>
<script type="text/template" id="faak-head-view-template">
  <div>
    <p class="lead">
      <i id="icon-edit-title" class="icon-edit clickable"></i> <strong><span id="viewTitle" class="view"><% if(title){%><%- title%><%}else{%><em>no title</em><%}%></span><span id="editTitle" class="edit hide"><input class="small" id="inputTitle" type="text" value="<%- title%>"></span></strong> By <em><strong><%- creator%></strong></em>
      <button id="btnSuccess" class="btn btn-danger pull-right" <%if(completed){%>disabled<%}%>>I will go now!</button>
    </p>
    <blockquote><p><i id="icon-edit-description" class="icon-edit clickable"></i> <span id="viewDescription" class="view"><% if(description){%><%- description%><% }else{ %><em>no description</em><%}%></span><span id="editDescription" class="edit hide"><input class="small" id="inputDescription" type="text" value="<%- description%>" ></span></p></blockquote>
    <div class="clearfix">
    <p><button class="btn btn-mini pull-right" id="btnAddMoreTime"><i class="icon-plus-sign"></i></button></p> 
    <em><p class="pull-right" id="timeleft"></p></em> 
    </div>
    

  </div>

  
</script>
<script type="text/template" id="thing-add-view-template">
<p class="lead">Add Order from <strong><em><%- username%></em></strong></p>
<fieldset class="form-horizontal">
  <div class="control-group">
    <label class="control-label-align-left" for="">Want</label>
    <div class="controls-custom">
      <input id="inputTitle" class="input-xlarge" type="text" > <i class="icon-exclamation-sign" style="display:none"></i>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label-align-left" for="">Description</label>
    <div class="controls-custom">
      <input id="inputDescription" class="input-xlarge" type="text" >
    </div>
  </div>
  <div class="control-group">
    <label class="control-label-align-left" for="">Quantity</label>
    <div class="controls-custom">
      <div class="input-prepend input-append">
        <button id="dec-qty" class="btn" type="button"><i class="icon-chevron-down clickable"></i></button>
        <input class="input-smallest positive-integer" size="1" id="inputQty" type="text" name="time" value="1" >
        <button id="inc-qty" class="btn" type="button"><i class="icon-chevron-up clickable"></i></button>
      </div>
    </div>
  </div>
</fieldset>
             <button id="btnSave" class="btn success">Save</button>
</script>
<script type="text/template" id="thing-item-view-template">
    <td>
      <div>
        <button id="btnDeleteItem" type="button" class="close">×</button>
        <fieldset class="form-horizontal">
          <div class="control-group">
            <label class="control-label-align-left" for="">Want</label>
            <div class="controls-custom">
              <i id="icon-edit-title" class="icon-edit clickable"></i>
              <strong><span id="viewTitle" class="view"><%- title%></span></strong>
              <span id="editTitle" class="edit hide"><input id="inputTitle" class="input-large" type="text" value="<%- title%>" ></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label-align-left" for="">Quantity</label>
            <div class="controls-custom">
              <span id="viewQty" class="view"><strong><%- qty%></strong></span>
              <div id="editQty" class="input-prepend input-append">
                <button id="dec-qty" class="btn" type="button"><i class="icon-chevron-down clickable"></i></button>
                <input class="input-smallest positive-integer" size="1" id="inputQty" type="text" name="time" value="<%- qty%>" >
                <button id="inc-qty" class="btn" type="button"><i class="icon-chevron-up clickable"></i></button>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label-align-left" for="">Description</label>
            <div class="controls-custom">
              <i id="icon-edit-description" class="icon-edit clickable"></i>
              <span id="viewDescription" class="view"><%- description%></span>
              <span id="editDescription" class="edit hide"><input id="inputDescription" class="input-large" type="text" value="<%- description%>"></span>
            </div>
          </div>
        </fieldset>
      </div>
    </td>
    
	</script>
</body>
