<!doctype html>
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<script src="js/jquery.min.js"></script>
  <script src="js/jquery.numeric.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/backbone/lib/underscore-min.js"></script>
  <script src="js/backbone/lib/backbone-min.js"></script>
  <script src="js/backbone/lib/backbone.iosync.js"></script>
  <script src="js/backbone/lib/backbone.iobind.js"></script>
	<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .clickable {
      	cursor: pointer;
      }

      .faak-item-container{
        position: relative;
      }

      .input-smallest { 
        width: 25px;
        text-align: right;
      }
    </style>
</head>
<body>
	<div id="app-container" class="container">
    <div class="row">
      <div class="span6 offset3">
        <div id="header-menu" >
      
        </div>
        <div class="marketing">
          <p class="lead">Who is going to go to 7-11 <a href="#myModal" data-toggle="modal" style="text-decoration:none;"><button class="btn btn-inverse pull-right">I WILL !</button></a> </p>
            <table class="table table-bordered table-hover">
              <tbody id="faaks-list">
              </tbody>
            </table>
          </div> 
      </div> 
    </div> 
    </div> <!-- /container -->
     
    <!-- // <script src="js/backbone/lib/backbone-nested.min.js"></script> -->
 
 <script type="text/template" id="header-template">



 


      <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li>
            <!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Faak</h3>
  </div>

  <div class="modal-body">
    <form action="/create" method="post">
      <fieldset>
        <input type="hidden" name="username" value="<%- username%>" >
        <div class="clearfix">
          <label for="titleInput">Title</label>
          <div class="input"><input type="text" name="title" id="titleInput"></div>
        </div>
        <div class="clearfix">
          <label>Description</label>
          <div class="input"><input type="text" name="description" ></div>
        </div>
        <div class="clearfix">
          <label>Will go in (minutes)</label>
          <div class="input-prepend input-append">
            <button id="dec-time" class="btn" type="button"><i class="icon-chevron-down clickable"></i></button>
            <input class="input-smallest positive-integer" size="1" id="time" type="text" name="time" value="5" readonly>
            <button id="inc-time" class="btn" type="button"><i class="icon-chevron-up clickable"></i></button>
          </div>
        </div>
        <div class="actions">
          <input type="submit" class="btn btn-primary" value="Create">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
            </li>
          </ul>
          <h3 class="muted">Faak</h3>
    </script>
<script type="text/template" id="faaks-template">
  <td>
      <div>
        <p class="lead"><strong><%- title%></strong> By <em><strong><%- creator%></strong></em></p>
        <blockquote><p><%- description%></p></blockquote>
        <em><p class="pull-right" id="timeleft"></p></em>
      </div>
  </td>
    </script>
    
  <script src="js/backbone/models/Faak.js"></script>
  <script src="js/backbone/collections/Faaks.js"></script>
  <script src="js/backbone/views/header-menu.js"></script>
  <script src="js/backbone/views/mainpage/FaakItemView.js"></script>
  <script src="js/backbone/views/mainpage/FaakListView.js"></script>
	<script src="js/backbone/views/mainpage/AppMainView.js"></script>
  <script src="js/backbone/AppMain.js"></script>
</body>
